@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

.hero {
  padding: 60px 0 30px 0;
  font-family: var(--font-family);
}

.container {
  max-width: 375px;
  padding: 0 20px;
}

.hero-description {
  max-width: 335px;
  margin-bottom: 28px;
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  line-height: 95%;
  letter-spacing: -0.02em;
  color: var(--main);
}

.hero-title-span {
  color: var(--accent);
}

.hero-text {
  max-width: 333px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-inner-block {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero-people-list {
  display: flex;
}

.hero-people-item {
  display: flex;
  align-items: center;
}

.hero-people-item:not(:first-child) {
  margin-left: -12px;
}

.hero-people-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: inherit;
  transition: color 250ms ease-in;
}

.hero-scroll-link:hover,
.hero-scroll-link:active {
  color: var(--accent);
}

.hero-background {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.hero-background::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(12, 12, 12, 0.2) 0%, rgba(12, 12, 12, 0.2) 100%);
}

.hero-background-img {
  display: block;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .hero {
    padding: 80px 0 40px 0;
  }

  .hero-wrap-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .hero-description {
    max-width: 557px;
    margin-bottom: 0;
  }

  .hero-inner-block {
    max-width: 136px;
    flex-shrink: 0;
    margin-bottom: 0;
    flex-direction: column;
  }

  .hero-title {
    font-size: 70px;
    line-height: 86%;
  }

  .hero-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 125%;
  }

  .hero-scroll-link {
    font-size: 20px;
    line-height: 100%;
  }

  .hero-background-img {
    width: 100%;
    height: auto;
  }

  .hero-background {
    border-radius: 50px;
  }
}

@media (min-width: 1280px) {
  .hero {
    padding-bottom: 50px;
  }

  .container {
    max-width: 1280px;
    padding: 0 65px;
  }

  .hero-description {
    max-width: 597px;
  }

  .hero-title {
    font-size: 72px;
    line-height: 87%;
  }

  .hero-inner-block {
    max-width: 146px;
  }
}
