.mob-menu-background {
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #0c0c0c3c no-repeat padding-box;
  backdrop-filter: blur(4px);
  opacity: 0;
  transform: translateX(100%);
  transition:
    transform 500ms ease-in-out,
    opacity 0.3s ease-in-out;
}

.mobile-menu {
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: start;

  width: 54%;
  height: 100%;

  padding: 20px 20px 40px 40px;
  background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.92) 0%, rgba(12, 12, 12, 0.92) 100%),
    url(../base/backgrounds/mobile-menu/mobile-menu-background-mob@1x.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(100%);
  opacity: 0;
}

.is-open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition-timing-function: ease-in;
  transition: transform 0.5s;
}

.btn-close-mob-menu {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: transparent;
  cursor: pointer;
  padding: 8px;
}

.btn-icon {
  display: block;
  stroke: #fbfbfb;
  stroke-width: 3px;
  height: 18px;
  width: 18px;
}

.mobile-navigation {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: auto;
}

.mob-menu-list-item {
  display: block;
  margin: auto;
  position: relative;
}

.mob-menu-link {
  position: relative;
  padding-bottom: 2px;
  display: block;
  color: #fbfbfb;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 129%;
}

.current::after {
  top: 0;
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 8px;
  height: 8px;
  border: none;
  border-radius: 50%;
  background: #3350e9;
}

.social-services-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-services-list-item {
  width: 36px;
  height: 36px;
}

.social-services-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
}

.fb-item,
.instagram-item,
.youtube-item {
  fill: #fbfbfb;
  height: 18px;
  width: 18px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
    justify-content: center;

    width: 43%;
    height: 100%;
    padding: 26px 32px 50px 32px;
  }

  .btn-close-mob-menu {
    position: absolute;
    top: 26px;
    right: 32px;

    width: 40px;
    height: 40px;
    padding: 0;
  }

  .btn-icon {
    display: block;
    stroke: #fbfbfb;
    stroke-width: 3px;
    height: 20px;
    width: 20px;
  }

  .mob-menu-list {
    row-gap: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .mob-menu-background {
    display: none;
  }
}
