.about-block-text {
  background: var(--cards);
  border: none;
  border-radius: 30px;
  padding: 40px 20px;
  margin-bottom: 40px;
  width: 100%;
}

@media (min-width: 768px) {
  .about-block-text {
    width: 704px;
    padding: 80px 60px;
  }
}

@media (min-width: 1280px) {
  .about-block-text {
    padding: 80px 60px;
    width: 580px;
    height: 532px;
    margin-right: 40px;
    margin-bottom: 0px;
  }
}
