<section class="section-contact" id="contact">
  <div class="container">
    <h2 class="contact-header">Contact Us</h2>
    <div class="contact-wrapper">
      <div class="contact-left-wrapper">
        <p class="contact-paragraph">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-left-form">
          <ul class="contact-list">
            <li class="contact-item">
              <input class="contact-input" name="contact-input" type="text" placeholder="Name" required />
            </li>
            <li class="contact-item">
              <input class="contact-input" name="contact-input" type="email" placeholder="Email" />
            </li>
            <li class="contact-item">
              <input class="contact-input" name="contact-input" type="tel" placeholder="+380" required />
            </li>
            <li class="contact-item">
              <textarea class="contact-input" id="contact-comment" name="contact-comment" rows="3" placeholder="Comment"
                style="resize: none"></textarea>
            </li>
          </ul>
          <button class="button-btn button-cotact-wrapper" type="submit">Send</button>
        </form>
      </div>
      <div class="contact-right-wrapper">
        <picture>
          <source media="(min-width: 1280px)" srcset="
              ./images/contact-us/contact-us-background-desc@1x.jpg 1x,
              ./images/contact-us/contact-us-background-desc@2x.jpg 2x
            " />
          <source media="(min-width: 768px)" srcset="
              ./images/contact-us/contact-us-background-tab@1x.jpg 1x,
              ./images/contact-us/contact-us-background-tab@2x.jpg 2x
            " />
          <source media="(min-width: 320px)" srcset="
              ./images/contact-us/contact-us-background-mob@1x.jpg 1x,
              ./images/contact-us/contact-us-background-mob@2x.jpg 2x
            " />
          <img class="contact-image" src="./images/contact-us/contact-us-background-desc@1x.jpg" alt="watches"
            loading="lazy" width="335" height="512" />
        </picture>
      </div>
    </div>
  </div>
</section>