<section class="hero hidden" id="header">
  <div class="container">
    <div class="hero-wrap-text">
      <div class="hero-description">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-inner-block">
        <ul class="hero-people-list">
          <li class="hero-people-item">
            <picture>
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./images/hero/hero-victoria-mob@1x.webp 1x,
                  ./images/hero/hero-victoria-mob@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279.98px)"
                srcset="
                  ./images/hero/hero-victoria-tab@1x.webp 1x,
                  ./images/hero/hero-victoria-tab@2x.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-victoria-desc@1x.webp 1x,
                  ./images/hero/hero-victoria-desc@2x.webp 2x
                "
              />
              <img
                src="./images/hero/hero-victoria-mob@1x.webp"
                alt="Girl with blond hair"
                class="hero-people-img"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="hero-people-item">
            <picture>
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./images/hero/hero-john-mob@1x.webp 1x,
                  ./images/hero/hero-john-mob@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279.98px)"
                srcset="
                  ./images/hero/hero-john-tab@1x.webp 1x,
                  ./images/hero/hero-john-tab@2x.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-john-desc@1x.webp 1x,
                  ./images/hero/hero-john-desc@2x.webp 2x
                "
              />
              <img
                src="./images/hero/hero-john-mob@1x.webp"
                alt="
            A man in glasses"
                class="hero-people-img"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="hero-people-item">
            <picture>
              <source
                media="(max-width: 767.98px)"
                srcset="
                  ./images/hero/hero-anastasia-mob@1x.webp 1x,
                  ./images/hero/hero-anastasia-mob@2x.webp 2x
                "
              />
              <source
                media="(min-width: 768px) and (max-width: 1279.98px)"
                srcset="
                  ./images/hero/hero-anastasia-tab@1x.webp 1x,
                  ./images/hero/hero-anastasia-tab@2x.webp 2x
                "
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  ./images/hero/hero-anastasia-desc@1x.webp 1x,
                  ./images/hero/hero-anastasia-desc@2x.webp 2x
                "
              />
              <img
                src="./images/hero/hero-anastasia-mob@1x.webp"
                alt="A girl in glasses with red hair"
                class="hero-people-img"
                width="44"
                height="44"
              />
            </picture>
          </li>
        </ul>
        <a href="#footer" class="hero-scroll-link">Scroll down</a>
      </div>
    </div>
    <div class="hero-background">
      <picture>
        <source
          media="(max-width: 767.98px)"
          srcset="
            ./images/hero/hero-background-mob@1x.webp 1x,
            ./images/hero/hero-background-mob@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279.98px)"
          srcset="
            ./images/hero/hero-background-tab@1x.webp 1x,
            ./images/hero/hero-background-tab@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ./images/hero/hero-background-desc@1x.webp 1x,
            ./images/hero/hero-background-desc@2x.webp 2x
          "
        />
        <img
          class="hero-background-img"
          src="./images/hero/hero-background-mob@1x.webp"
          alt="Premium watches"
          width="335"
          height="366"
        />
      </picture>
    </div>
  </div>
</section>
