<section class="sale" id="sale">
  <div class="container">
    <h2 class="sale-heading">Sale</h2>

    <div class="sale-product">
      <div class="sale-slider">
        <ul class="sale-slider-list">
          <li class="sale-slider-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/sale-picture1-desc-tab@1x.webp 1x,
                  ./images/sale/sale-picture1-desc-tab@2x.webp 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  ./images/sale/sale-picture1-mob@1x.webp 1x,
                  ./images/sale/sale-picture1-mob@2x.webp 2x
                "
              />
              <img
                src="./images/sale/sale-picture1-mob@1x.webp"
                alt="first side slide image"
                class="sale-slider-image"
                loading="lazy"
                width="52"
                height="54"
              />
            </picture>
          </li>
          <li class="sale-slider-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/sale-picture2-desc-tab@1x.webp 1x,
                  ./images/sale/sale-picture2-desc-tab@2x.webp 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  ./images/sale/sale-picture2-mob@1x.webp 1x,
                  ./images/sale/sale-picture2-mob@2x.webp 2x
                "
              />
              <img
                src="./images/sale/sale-picture2-mob@1x.webp"
                alt="second side slide image"
                class="sale-slider-image"
                loading="lazy"
                width="52"
                height="54"
              />
            </picture>
          </li>
          <li class="sale-slider-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/sale-picture3-desc-tab@1x.webp 1x,
                  ./images/sale/sale-picture3-desc-tab@2x.webp 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  ./images/sale/sale-picture3-mob@1x.webp 1x,
                  ./images/sale/sale-picture3-mob@2x.webp 2x
                "
              />
              <img
                src="./images/sale/sale-picture3-mob@1x.webp"
                alt="third side slide image"
                class="sale-slider-image"
                loading="lazy"
                width="52"
                height="54"
              />
            </picture>
          </li>
          <li class="sale-slider-item">
            <picture>
              <source
                media="(min-width: 768px)"
                srcset="
                  ./images/sale/sale-picture4-desc-tab@1x.webp 1x,
                  ./images/sale/sale-picture4-desc-tab@2x.webp 2x
                "
              />
              <source
                media="(min-width: 375px)"
                srcset="
                  ./images/sale/sale-picture4-mob@1x.webp 1x,
                  ./images/sale/sale-picture4-mob@2x.webp 2x
                "
              />
              <img
                src="./images/sale/sale-picture4-mob@1x.webp"
                alt="fourth side slide image"
                class="sale-slider-image"
                loading="lazy"
                width="52"
                height="54"
              />
            </picture>
          </li>
        </ul>
        <div class="sale-slider-product">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/sale/sale-picture5-desc-tab@1x.webp 1x,
                ./images/sale/sale-picture5-desc-tab@2x.webp 2x
              "
            />
            <source
              media="(min-width: 375px)"
              srcset="
                ./images/sale/sale-picture5-mob@1x.webp 1x,
                ./images/sale/sale-picture5-mob@2x.webp 2x
              "
            />
            <img
              src="./images/sale/sale-picture5-mob@1x.webp"
              alt="slider product image"
              class="sale-slider-product-image"
              loading="lazy"
              width="235"
              height="285"
            />
          </picture>
        </div>
      </div>

      <div class="sale-description" data-aos="zoom-in-right">
        <h3 class="sale-description-heading">
          MARQ&#174; Commander (Gen 2) - Carbon Edition
        </h3>
        <p class="sale-description-caption">Product tag: 706587</p>

        <div class="sale-price">
          <span class="sale-current-price"> €1500 </span>

          <span class="sale-old-price"> €3000 </span>
        </div>

        <p class="sale-description-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>

        <ul class="sale-description-characteristics">
          <li class="sale-characteristic-item">Fused carbon fiber</li>
          <li class="sale-characteristic-item">Grade-5 Titanuim</li>
          <li class="sale-characteristic-item">Athlete</li>
          <li class="sale-characteristic-item">Golfer</li>
          <li class="sale-characteristic-item">Commander</li>
          <li class="sale-characteristic-item">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
