@media (min-width: 1280px) {
  .nav-link-studio::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 23px;
    height: 8px;
    width: 8px;
    background-color: #3350e9;
    border-radius: 50%;
  }
}
