@media (min-width: 1280px) {
  .social-icon-header {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-icon-header:hover,
  .social-icon-header:focus {
    fill: #3350e9;
    opacity: 0.8;
  }
}
