.footer-rights-paragraph {
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

@media screen and (min-width: 768px) {
  .footer-rights-paragraph {
    font-size: 14px;
    line-height: 129%;
    width: 261px;
  }
}
