.footer-address-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  padding: 14px 20px;
  width: fit-content;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-address-link {
    font-size: 14px;
    line-height: 129%;
  }
}
