footer {
  padding-bottom: 20px;
  padding-top: 40px;
  padding-left: 28;
  padding-right: 28;
}

@media screen and (min-width: 768px) {
  footer {
    padding-bottom: 32px;
    padding-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  footer .container {
    padding: 0 32px;
  }

  footer {
    padding-top: 50px;
  }
}
