<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanilla App Template</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
<!-- #region Advertisement -->
<section class="advertisement">
  <div class="container">
    <h1 class="advertisement-title">Choose your story, making every moment unique. Time is your style, and we reveal it.</h1>
          <button class="advertisement-button" type="button">Contact us</button>
    </div>
  </div>
</section>
<!-- #endregion Advertisement -->
  </body>