<section class="catalog" id="catalog">
  <div class="container">
    <h2 class="catalog-main-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/catalog/catalog-item1-desc@1x.png 1x,
              ./images/catalog/catalog-item1-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/catalog/catalog-item1-tab@1x.png 1x,
              ./images/catalog/catalog-item1-tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/catalog/catalog-item1-mob@1x.png 1x,
              ./images/catalog/catalog-item1-mob@2x.png 2x
            "
          />
          <img
            class="catalog-pic"
            src="./images/catalog/catalog-item1-mob@1x.png"
            alt="Garmin Fenix 7X Pro Sapphire Solar"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text">€500</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/catalog/catalog-item2-desc@1x.png 1x,
              ./images/catalog/catalog-item2-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/catalog/catalog-item2-tab@1x.png 1x,
              ./images/catalog/catalog-item2-tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/catalog/catalog-item2-mob@1x.png 1x,
              ./images/catalog/catalog-item2-mob@2x.png 2x
            "
          />
          <img
            class="catalog-pic"
            src="./images/catalog/catalog-item2-mob@1x.png"
            alt="Garmin Marq Athlete "
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Marq Athlete</h3>
          <p class="catalog-text">€450</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/catalog/catalog-item3-desc@1x.png 1x,
              /images/catalog/catalog-item3-desc@2x.png  2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/catalog/catalog-item3-tab@1x.png 1x,
              ./images/catalog/catalog-item3-tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/catalog/catalog-item3-mob@1x.png 1x,
              ./images/catalog/catalog-item3-mob@2x.png 2x
            "
          />
          <img
            class="catalog-pic"
            src="./images/catalog/catalog-item3-mob@1x.png"
            alt="Garmin Descent MK1 "
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Descent MK1</h3>
          <p class="catalog-text">€680</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/catalog/catalog-item4-desc@1x.png 1x,
              ./images/catalog/catalog-item4-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/catalog/catalog-item4-tab@1x.png 1x,
              ./images/catalog/catalog-item4-tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/catalog/catalog-item4-mob@1x.png 1x,
              ./images/catalog/catalog-item4-mob@2x.png 2x
            "
          />
          <img
            class="catalog-pic"
            src="./images/catalog/catalog-item4-mob@1x.png"
            alt="Garmin D2 Delta PX"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin D2 Delta PX</h3>
          <p class="catalog-text">€380</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/catalog/catalog-item5-desc@1x.png 1x,
              ./images/catalog/catalog-item5-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/catalog/catalog-item5-tab@1x.png 1x,
              ./images/catalog/catalog-item5-tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/catalog/catalog-item5-mob@1x.png 1x,
              ./images/catalog/catalog-item5-mob@2x.png 2x
            "
          />
          <img
            class="catalog-pic"
            src="./images/catalog/catalog-item5-tab@1x.png"
            alt="Garmin Fenix 6 Pro Solar"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text">€400</p>
        </div>
      </li>
      <li class="catalog-list-item">
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/catalog/catalog-item6-desc@1x.png 1x,
              ./images/catalog/catalog-item6-desc@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/catalog/catalog-item6-tab@1x.png 1x,
              ./images/catalog/catalog-item6-tab@2x.png 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/catalog/catalog-item6-mob@1x.png 1x,
              ./images/catalog/catalog-item6-mob@2x.png 2x
            "
          />
          <img
            class="catalog-pic"
            src="./images/catalog/catalog-item6-tab@1x.png"
            alt="Tube Watch S42 Date Steel With Black Case"
            loading="lazy"
          />
        </picture>
        <div class="catalog-text-wrapper">
          <h3 class="catalog-title">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text">€395</p>
        </div>
      </li>
    </ul>
    <button type="submit" class="catalog-btn">Show more</button>
  </div>
</section>
