<section class="section-contact">
  <div class="container">
    <div class="contact-left-wrapper">
      <p class="contact-paragraph">
        Please use the form below to contact us. Enter your name, email, phone,
        and message and we'll get back to you shortly.
      </p>

      <form action="" class="contact-left-form">
        <input
          class="contact-input"
          name="contact-input"
          type="text"
          placeholder="Name"
        />
        <input
          class="contact-input"
          name="contact-input"
          type="email"
          placeholder="Email"
        />
        <input
          class="contact-input"
          name="contact-input"
          type="tel"
          placeholder="+380"
        />
        <textarea
          class="contact-textarea"
          name="contact-comment"
          id="contact-comment"
          cols="30"
          rows="10"
          placeholder="Text input"
        ></textarea>
      </form>

      <button class="contact-button" type="submit">Send</button>
    </div>

    <div class="contact-right-wrapper">
      <img src="/" alt="" />
    </div>
  </div>
</section>
