<link rel="stylesheet" href="/src/css/styles.css">
<link rel="stylesheet" href="/src/css/reset.css">


<section class="contact-us-section" id="contact-us">
   <div class="container">
        <h2 class="contact-title">Contact Us</h2>
    <div class="contact-us-wrapper">
        <div class="made-left-side">
           <p class="left-paragraph">
            Please use the form below to contact us. Enter your name, email, phone, and message and we'll get back to you shortly.
           </p>
        <form>
            <div class="contact-us-form">
                
                <!-- Form Name-->
            <label class="contacts-us-label">
                <input
                     class="contact-us-input"
                     type="text"
                     name="user_name"
                     id="user_name"
                     minlength="3"
                     pattern="[a-zA-Z]+\s[a-zA-Z]*"
                     placeholder="Name" >
            </label>

            <!-- Form Email-->
            <label class="contacts-us-label">
                <input
                     class="contact-us-input"
                     type="email"
                     name="user_email"
                     id="user_email"
                     minlength="3"
                
                     placeholder="Email" >
            </label>

            <!-- Form Tel -->
            <label class="contacts-us-label">
                <input
                     class="contact-us-input"
                     type="tel"
                     name="user_phone"
                     id="user_phone"
                     pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                     title="xxx-xxx-xx-xx"
                     placeholder="+380" >
            </label>

            <label class="contacts-us-label">
                <textarea
                    name="user_message"
                    id="user_message"
                    rows="4"
                    class="contact-us-comment message"
                    placeholder="Comment"
                ></textarea>
            </label>
        </div>

       <div class="button-form-cont">
           <button type="submit" class="btn-form-cont"> 
            Send
           </button>
       </div>

        </form>
        </div>

<div class="made-right-side">
    <img 
        class="cont-us-pic"
        src="/src/images/contact-us/contact-us-background-desc@1x.jpg"
        alt="Watches on stone"
        width="530"
        height="536"
    />
</div>
   </div>
   </div>
</section>