<div class="footer-container">
  <div class="footer-wrap">
    <div class="footer-top">
      <div class="social-logo">
        <h2 class="footer-logo">watchcharm</h2>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a class="footer-social-link" href="#"
              ><img
                src="./images/icons.svg#icon-youtube.svg"
                width="34"
                height="34"
                alt="youtube"
            /></a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#"
              ><img
                src="./images/icons.svg#icon-instagram.svg"
                width="34"
                height="34"
                alt="instagram"
            /></a>
          </li>
          <li class="footer-social-item">
            <a class="footer-social-link" href="#"
              ><img
                src="./images/icons.svg#icon-youtube.svg"
                width="34"
                height="34"
                alt="youtube"
            /></a>
          </li>
        </ul>
      </div>
      <address class="footer-address">
        <a class="footer-address-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
    </div>
    <div class="footer-title-box">
      <h2 class="footer-text-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>
    </div>
  </div>
  <div class="container-footer-nav">
    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Home</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">About us</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Catalog</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Sale</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Reviews</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer-address-box">
    <p class="footer-address-text">
      1678 S. Pioneer Road Salt Lake City UT 84104
    </p>
  </div>
  <div class="footer-rights-holder">
    <div class="footer-rights-text">
      <p class="footer-rights-paragraph">
        ©2023 The Watch Spot. All rights reserved.
      </p>
    </div>
    <ul class="footer-rights-list">
      <li class="footer-rights-list">
        <a class="footer-rights-link" href="#">Terms of Service</a>
      </li>
      <li class="footer-rights-list">
        <a class="footer-rights-link" href="#">Privacy Policy</a>
      </li>
    </ul>
  </div>
</div>
