<section class="hero">
  <div class="container">
    <h1 class="hero__title">
      Welcome to our <span class="hero__title-span">collection</span> of premium
      watches
    </h1>
    <p class="hero__text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>
    <div class="hero__inner-block">
      <ul class="hero__people-list">
        <li class="hero__people-item">
          <img src="" alt="Girl with blond hair" class="hero__people-img" width="44" height="44"/>
        </li>
        <li class="hero__people-item">
          <img src="" alt="
          A man in glasses" class="hero__people-img"  width="44" height="44"/>
        </li>
        <li class="hero__people-item">
          <img src="" alt="A girl in glasses with red hair" class="hero__people-img"  width="44" height="44"/>
        </li>
      </ul>
      <a href="#footer" class="hero__scroll">Scroll down</a>
    </div>
    <div class="hero__img-block">
      <img
        class="hero__img"
        src=""
        alt="Premium watches"
        width="335"
        height="366"
      />
    </div>
  </div>
</section>
