<div class="mob-menu-background">
  <div class="mobile-menu">
    <button class="btn-close-mob-menu" id="close">
      <svg class="btn-icon" width="none" height="none">
        <use href="../images/icons.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="mobile-navigation">
      <ul class="mob-menu-list">
        <li class="mob-menu-list-item">
          <a class="mob-menu-link current" href="#top"> Home </a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-link" href="#about"> About us </a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-link" href="#catalog"> Catalog </a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-link" href="#sale"> Sale </a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-link" href="#reviews"> Reviews </a>
        </li>
        <li class="mob-menu-list-item">
          <a class="mob-menu-link" href="#contact"> Contact us </a>
        </li>
      </ul>
    </nav>

    <ul class="social-services-list">
      <li class="social-services-list-item">
        <a
          class="social-services-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
        >
          <svg class="fb-item" height="18" width="18">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-services-list-item">
        <a
          class="social-services-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="instagram-item" height="18" width="18">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-services-list-item">
        <a
          class="social-services-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="youtube-item" height="18" width="18">
            <use href="./images/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
