
    <div class="mobile-menu is-open">
        <button class="close-mob-menu" id="close">
            <svg>
                <use href="./images/icons.svg#icon-close"></use>       
            </svg>
        </button>
                <ul class="menu-list">
                    <li class="menu-lins-list">
                        <a href="http://#home">
                            Home
                        </a>
                    </li>
                    <li class="menu-list">
                        <a href="http://#about">
                            About us
                        </a>
                    </li>
                    <li class="menu-list">
                        <a href="http://#catalog">
                            Catalog
                        </a>
                    </li>
                    <li class="menu-list">
                        <a href="http://#sale">
                            Sale
                        </a>
                    </li>
                    <li class="menu-list">
                        <a href="http://#reviews">
                            Reviews
                        </a>
                    </li>
                    <li class="menu-list">
                        <a href="http://#contact">
                            Contact us
                        </a>
                    </li>
                </ul>
                <ul class="social-services-list">
                    <li class="social-services-list-item">
                        <a href="http://#">
                                <svg class="fb-item" height="18" width="18">
                                <use href="./images/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-services-list-item">
                        <a href="http://#">
                            <svg class="instagram-item" height="18" width="18">
                            <use href="./images/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                    </li>

                    <li class="social-services-list-item">

                        <a href="http://#">
                                <svg class="youtube-item" height="18" width="18">
                                <use href=".images/icons.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
    </div> 
