@media (min-width: 375px) {
  .about-header {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: var(--main);
    margin-bottom: 28px;
  }

  .about-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
  }

  .about-paragraph {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    text-align: start;
  }

  .about-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: var(--background);

    width: 160px;
    height: 48px;
    border: none;
    border-radius: 16px;
    background: var(--accent);
  }

  .about-image {
    box-sizing: border-box;
    border-radius: 30px;
    border: none;
  }

  .about-block-text {
    background: var(--cards);
    border: none;
    border-radius: 30px;
    padding: 40px 20px;
    margin-bottom: 40px;
    width: 335px;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-section {
    padding: 60px 0px;
  }
}

@media (min-width: 768px) {
  .about-paragraph {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
  }

  .about-header {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 48px;
    line-height: 92%;
    letter-spacing: -0.02em;
    color: var(--main);
  }

  .about-block-text {
    width: 704px;
    padding: 80px 60px;
  }

  .about-list {
    margin-bottom: 60px;
  }

  .about-section {
    padding: 80px 0px;
  }
}

@media (min-width: 1280px) {
  .about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: unset;
    justify-content: unset;
  }

  .about-block-text {
    padding: 80px 60px;
    width: 580px;
    height: 532px;
    margin-right: 40px;
    margin-bottom: 0px;
  }

  .about-image {
    border-radius: 50px;
    width: 530px;
    height: 532px;
  }

  .about-list {
    margin-bottom: 40px;
  }

  .about-section {
    padding: 100px 0px;
  }
}
