.advertisement {
  padding: 60px 0;
}

@media only screen and (min-width: 768px) {
  .advertisement {
    padding: 80px 0;
  }
}

@media only screen and (min-width: 1280px) {
  .advertisement {
    padding: 100px 0;
  }
}

/* .advertisement .container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 80px 64px;
  background: #0c0c0c;
  border-radius: 30px;
  max-width: 335px;
  height: auto;
  background-color: rgba(17, 17, 17, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url('../images/advertisement/advertisement-background-mob@1x.jpg');
} */
/* @media (min-resolution: 192dpi) {
    .advertisement .container {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url('../images/advertisement/advertisement-background-mob@2x.jpg');
    }
  } */
/* @media only screen and (min-width: 768px) {
  .advertisement .container {
    border-radius: 30px;
    padding: 80px 64px;
    max-width: 704px;
    justify-content: center;
    gap: 32px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/advertisement-background-tab@1x.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .advertisement.container {
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/advertisement-background-tab@2x.jpg.jpg');
  }
}
@media only screen and (min-width: 1280px) {
  .advertisement.container {
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    padding: 80px;
    padding-right: 83px;
    gap: 140px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/advertisement-background-desc@1x.jpg');
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .advertisement .container {
    max-width: 1150px;
    display: flex;
    flex-direction: row;
    padding: 80px;
    padding-right: 83px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url('../images/advertisement/advertisement-background-desc@2x.jpg');
  }
} */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advertisement-text {
  font-family: var(--font-family);
  margin-bottom: 28px;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.accent {
  color: rgba(251, 251, 251, 0.5);
}
@media only screen and (min-width: 768px) {
  .advertisement-text {
    font-size: 48px;
    line-height: 92%;
  }
}
@media only screen and (min-width: 1280px) {
  .advertisement-text {
    max-width: 1150px;
  }
}
.accent {
  color: rgba(251, 251, 251, 0.5);
}

.advertisement-link {
  font-family: var(--font-family);
  display: inline-flex;
  padding: 15px 43px 15px 44px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;
  gap: 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fbfbfb;
  text-decoration: none;
  white-space: nowrap;
  color: #fbfbfb;
  background-color: transparent;
}
@media only screen and (min-width: 1280px) {
  .advertisement-link {
    white-space: nowrap;
    display: flex;
    transform: translateY(-43px);
    margin-top: 52px;
  }
}
