.arrow-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  border: none;
  background: transparent;
}

.arrow {
  z-index: 10;
  cursor: pointer;
  transition: fill 500ms;
  fill: var(--main);
}

.arrow:hover {
  fill: var(--accent);
}
