/* -------------Scroll anchor-------*/
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
/* -------------/Scroll anchor-------*/

.hero {
  padding-top: 60px;
  font-family: var(--font-family);
}
.container {
  max-width: 375px;
  padding: 0 20px;
}
.hero-description {
  margin-bottom: 28px;
}
.hero-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 40px;
  line-height: 95%;
  letter-spacing: -0.02em;
  color: var(--main);
}
.hero-title-span {
  color: var(--accent);
}
.hero-text {
  max-width: 333px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}
.hero-inner-block {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.hero-people-list {
  display: flex;
}
.hero-people-item {
  display: flex;
  align-items: center;
}
.hero-people-item:not(:first-child) {
  margin-left: -12px;
}
.hero-people-img {
  display: block;
  width: 100%;
  height: auto;
}
.hero-scroll-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: inherit;
  transition: color 250ms ease-in;
}
.hero-scroll:hover,
.hero-scroll:active {
  color: var(--accent);
}
.hero-background {
  border-radius: 30px;
  overflow: hidden;
}
.hero-background-img {
  object-fit: cover;
  object-position: center;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .hero {
    padding-top: 80px;
  }
  .hero-wrap-text {
    display: flex;
  }
  .hero-description {
    margin-bottom: 40px;
  }
  .hero-inner-block {
    max-width: 136px;
    flex-shrink: 0;
    margin-bottom: 40px;
    flex-direction: column;
  }
  .hero-title {
    font-size: 70px;
    line-height: 86%;
  }
  .hero-text {
    max-width: 480px;
    font-size: 16px;
    line-height: 125%;
  }
  .hero-background-img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 65px;
  }
  .hero-wrap-text {
    display: flex;
    justify-content: space-between;
  }
  .hero-description {
    max-width: 597px;
  }
  .hero-title {
    font-size: 72px;
    line-height: 87%;
  }
}
