.mob-menu-background{
    position: fixed;
    inset: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background:#0c0c0c3c no-repeat padding-box;
    backdrop-filter: blur(4px);
    opacity: 0;
    transform: translateX(100%);
    transition: transform 500ms ease-in-out, opacity 0.3s ease-in-out;
}

.mobile-menu {
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    width: 54%;
    height: 100%;
   
    padding: 20px 20px 40px 40px;
    background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.92) 0%,
                    rgba(12, 12, 12, 0.92) 100%),
                    url(../images/mobile-menu/mobile-menu-background-mob@1x.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    transform: translateX(100%);
    opacity: 0;
    }
.is-open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-timing-function: ease-in;
}
.btn-close-mob-menu {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color:transparent;
    cursor: pointer;
    padding: 8px;

} 

.btn-icon{
    display: block;
    stroke:#fbfbfb;
    stroke-width:3px;
    height:18px;
    width: 18px;
   
}
.mobile-navigation{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}
.mob-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: auto;
}
.mob-menu-list-item {
    display: block;
    margin: auto;
    position: relative;
}
.mob-menu-link {
    position: relative;
    display: block;
    color: #fbfbfb;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

.current::after {
            top:0;
            content: " ";
            position: absolute;
            left:50%;
            top: 100%;
            /* transform: translate(-50%, -50%); */
            width: 8px;
            height: 8px;
            border: none;
            border-radius: 50%;
            background: #3350E9;
            
}
.social-services-list {
    display: flex;
    gap:10px;
    justify-content: center;   
}
.social-services-list-item{
    width: 36px;
    height: 36px;
}

.social-services-link {
    display: flex;
    justify-content: center;
    align-items: center;
   
    border: 1px solid rgba(251, 251, 251, 0.10);
    border-radius: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.fb-item,.instagram-item,.youtube-item {
    fill:#fbfbfb;
    height:18px;
    width: 18px;
}


/* #region media */
@media only screen and (min-width: 768px) {
  
  .mob-menu-background{
      position: fixed;
      inset: 0;
      z-index: 100;
      width: 100%;
      height: 100%;
      background:#0c0c0c3c no-repeat padding-box;
      backdrop-filter: blur(4px);
      opacity: 0;
        transform: translateX(100%);
      transition: transform 500ms ease-in-out, opacity 0.3s ease-in-out;
  
  }
  .is-open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-timing-function: ease-in;
}
  
  .mobile-menu {
      position: fixed;
      top: 0%;
      right: 0%;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: start;
      
      width: 43%;
      height: 100%;
     
      padding: 26px 32px 50px 100px;
      background-image: linear-gradient(0deg, rgba(12, 12, 12, 0.92) 0%,
                      rgba(12, 12, 12, 0.92) 100%),
                      url(../images/mobile-menu/mobile-menu-background-mob@1x.jpg);
      background-size:cover;
      background-repeat: no-repeat;
      transform: translateX(100%);
      opacity: 0;
    }

  .btn-close-mob-menu {
      position: absolute;
      top: 26px;
      right: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 0;
      background-color: var(--main);
      cursor: pointer;
  }
  .btn-icon{
    display: block;
    stroke:#fbfbfb;
    stroke-width:2.5px;
    height:20px;
    width: 20px;

  }
  .mobile-navigation{
      display: flex;
      flex-direction: column;
      margin-top: auto;
      margin-bottom: auto;
  }
  .mob-menu-list {
      display: flex;
      flex-direction: column;
      row-gap: 32px;
      margin-bottom: auto;
  }
  .mob-menu-list-item {
      display: block;
     
      margin: auto;
  }
  .mob-menu-link {
      position: relative;
      display: inline-block;
      color: #fbfbfb;
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
  }
  .current::after {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              border: none;
              border-radius: 50%;
              background: #3350E9;
             
          }
  .social-services-list {
      display: flex;
      gap:10px;
      justify-content: center;   
  }
  .social-services-list-item{
      width: 36px;
      height: 36px;
  }
  
  .social-services-link {
      display: flex;
      justify-content: center;
      align-items: center;
      
    
      border: 1px solid rgba(251, 251, 251, 0.10);
      border-radius: 10px;
      text-align: center;
  }
  .fb-item,.instagram-item,.youtube-item {
      fill:#fbfbfb;
  }   
  }

@media only screen and (min-width: 1278px) {
    .mob-menu-background{
        display: none;
    }

}

