.reviews-title {
  font-family: var(--font-family);
  margin-bottom: 40px;
  color: var(--main);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.96px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 100px;
  justify-content: space-between;
  gap: 20px;
}

.reviews-item-cont {
  display: flex;
  width: 100;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 32px 36px;
  background: var(--cards);
  border-radius: 30px;
}

.reviews-author {
  font-family: var(--font-family);
  margin-bottom: 8px;
  color: var(--main);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.36px;

  margin-top: 24px;
}

.reviews-text {
  font-family: var(--font-family);
  color: rgba(12, 12, 12, 0.4);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.32px;
}
