@import url('./reset.css');

@import url('./hero.css');

@import url('./about.css');

*,
*::before, *::after {
  box-sizing: border-box;
}


:root {
  --main: #0c0c0c;
  --accent: #3350e9;
  --background: #fbfbfb;
  --cards: #f3f3f3;
}

:root {
  --font-family: "Gilroy", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.hide {
  display: none;
}
