@import url('../font-gilroy/fonts.css');
@import url('./reset.css');
@import url('./globals.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./advertisement.css');
@import url('./catalog.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./contact-us.css');
@import url('./footer.css');
@import url('./mob-menu.css');
@import url('./arrow.css');
